
body {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(195, 195, 195);
}

.container {
    
    padding: 5px;
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-form {
    background-color: yellow;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: grey;
    gap: 20px;
    height: 100%;
    color: white;
    border-radius: 10px;

}

.btn-score {
    width: 100px;
    cursor: pointer;
    height: 43%;
    border: none;
    border-radius: 4px;
}

.btn-score:hover {
    background-color: rgb(94, 208, 223);
    transition: all 0.3s ease;
}

.score {
    width: 50px;
    height: 39.5%;
    border: none;
    border-radius: 4px;
}

.title-form {
    margin-right: 10px;
}